---
layout: base
tags: ['perfil', 'cv', 'curriculum', 'vitae']
desc: Sobre mi, conocimientos, trabajos, gustos
---

.code
  
  #cv-header
    %h1 Luis Lopez

    %img.avatar(src="/images/avatar.png")

  %h3 Introducci&oacute;n:

  %p
    Me dedico al desarrollo de sitios web, principalmente utilizando Ruby On Rails.

  %h3 Conocimientos:

  %strong
    Dise&ntilde;o Web:

  %ul
    %li Html
    %li Css
    %li Javascript (JQuery)
  
  %strong
    Base de Datos:

  %ul
    %li Mysql
    %li MS Sql-Server

  %strong
    Sistemas Operativos:
  
  %ul
    %li Linux
    %li Windows
    %li Mac OS
    
  %h3 Experiencia laboral:
  
  %strong 
    Enratio
  %span (consuloria de sistemas) -- 22/11/2007 - 24/07/2009
  %p 
    Programando en lenguaje Ruby, proyecto de automatizacion de testeo de sitio web del cliente. 
  %ul
    %li mercadolibre.com
    %li despegar.com

  %strong
    Red Intercable Digital
  %span (Empresa proveedora de servicios de internet y telefon&iacute;a) -- 24/07/2009 - actualidad
  %p
    Desarrollo Web con Ruby On Rails.
  %ul
    %li
      Desarrollo de aplicaciones web para consumo interno y administraci&oacute;n
    %li
      Desarrollo de sitios P&uacute;blicos
    %li
      Desarrollo de sitios con Mephisto (cms en Ruby On Rails)
  
  %strong Sitios en los que trabaje:
  %ul
    %li
      %a(href="http://www.conexioneducativa.com.ar")
        Conexi&oacute;n Educat&iacute;va
    %li
      %a(href="http://www.soon.com.ar")
        Soon
    %li
      %a(href="http://guia.soon.com.ar")
        Gu&iacute;a Soon