---
layout: base
tags: ['proyectos', 'listado']
desc: Listado de proyectos
---

#proyectos
  %h3
    %a
      Automatizaci&oacute;n de testeo (Web Sites)
  %div
    %p
      Mediante Ruby, y librerias que apoyan la manipulaci&oacute;n del browser. Con un administrador de casos web 
      hecho en rails. Y con una base de datos mysql.
    %p
      Ya lo esta utilizando: Mercadolibre.com y Despegar.com
    
  %h3
    %a
      Sistema de administraci&oacute;n de Tickets.
  %div
    %p
      Lo que tengo en mente, es un tracker hecho en rails.
  