---
layout: post
title: Atajos Textmate
desc: Combinaciones de teclas que acortan el tiempo de codificación
tags: ['textmate', 'ide', 'mac']
categories:
- rails
- ruby
---

%h1
  Mis atajos textmate
  
%p 
  Textmate es un procesador de texto para mac, ademas es muy utilizado como ide para programar en varios lenguajes.


.columna.medio
  %p
    Estos son los atajos que mas utilizo, si recien estas empezando con mac o todabia no has encontrado un IDE
    que te guste, esto te puede ayudar a decidir.
.columna.medio
  - image "tecladomac.jpg", :height => "150px"  

%table.tabla
  %tr
    %th Acci&oacute;n
    %th Combinaci&oacute;n
  %tr
    %td Seleccionar palabra
    %td (control) + W
  %tr
    %td Seleccionar linea
    %td (shift) + (command) + L
  %tr
    %td Seleccionar parentesis
    %td (shift) + (command) + B         
  %tr
    %td Mover selecci&oacute;n
    %td (control) + (command) + (direcci&oacute;n)     
  %tr
    %td Multiple edici&oacute;n de lineas
    %td (option) + (command) + A
  %tr
    %td Multiple edici&oacute;n de columnas
    %td (option) + "y Seleccionar texto" 
  %tr
    %td Listar portapapeles y Pegar
    %td (control) + (option) + (command) + V
  %tr
    %td Suprimir
    %td (control) + D
  %tr
    %td Borrar linea
    %td (control) + (shift) + K
  %tr
    %td Duplicar linea
    %td (control) + (shift) + D
