---
layout: post
title: Pintando la consola MacOS
desc: Configuraci&oacute;n para agregar colores a el comando ls en macos
categories:
- bash
tags: [bash, consola, comando, ls]
---

%h1 Pintando la consola en MacOS Leopard

%p
  Para activar los colores en el comando ls

%h3 Primero:

%p
  Agregar en .bash_profile

:coderay
  #!plain
  export CLICOLOR=1
  export LSCOLORS=exfxcxdxbxegedabagacad
  alias ls='ls -G'

%p
  Con la variable LSCOLORS, le estamos diciendo al sistema que color queremos para cada tipo de elemento y con
  el alias estamos activando los colores.
%p 
  El formato de la variable LSCOLORS, es posicional y consta de un par de d&iacute;gitos para describir el color de la letra 
  y el color del fondo del elemento, en este orden (LETRA-FONDO).

%p
  La descripcion de estos pares, se le de izquierza a derecha y es la siguiente:
  directory, symbolic link, socket, pipe, executable, block special, character special, executable with setuid bit set, 
  executable with setgid bit set, directory writable to others with sticky bit, 
  directory writable to others without sticky bit  

%p Los colores son los siguientes.

.columna
  %table.tabla
    %tr
      %th D&iacute;gito
      %th Color
    %tr
      %td a
      %td.negro negro
    %tr
      %td b
      %td.rojo rojo
    %tr
      %td c
      %td.verde verde
    %tr
      %td d
      %td.marron marron
    %tr
      %td e
      %td.azul azul
    %tr
      %td f
      %td.magenta magenta
    %tr
      %td g
      %td.cian cian
    %tr
      %td h
      %td.gris gris claro


.columna
  %table.tabla
    %tr
      %th D&iacute;gito
      %th Color
    %tr
      %td A
      %td.negro.bold negro en negrita 
    %tr
      %td B
      %td.rojo.bold rojo en negrita
    %tr
      %td C
      %td.verde.bold verde en negrita
    %tr
      %td D
      %td.marron.bold marron en negrita
    %tr
      %td E
      %td.azul.bold azul en negrita
    %tr
      %td F
      %td.magenta.bold magenta en negrita

.clear

%strong Si lo ponemos en pr&aacute;ctica.
%p
  Vamos a describir la configuracion de colores que elegimos en le inicio de este post.

:coderay
  #!Plain
  LSCOLORS=exfxcxdxbxegedabagacad

%p
  %table.tabla
    %tr
      %th Elemento
      %th D&iacute;gitos
      %th Colores
    %tr
      %td directorio
      %td ex
      %td azul - ninguno 
    %tr
      %td vinculo simb&oacute;lico
      %td fx
      %td magenta - ninguno 
    %tr
      %td socket
      %td cx
      %td verde - ninguno 
    %tr
      %td pipe
      %td dx
      %td marron - ninguno 
    %tr
      %td ejecutable
      %td bx
      %td rojo - ninguno 
    %tr
      %td block special
      %td eg
      %td azul - cyan 
    %tr
      %td character special
      %td ed
      %td azul - marron 
    %tr
      %td executable with setuid bit set
      %td ab
      %td negro - rojo 
    %tr
      %td executable with setgid bit set
      %td ag
      %td negro - cyan
    %tr
      %td directory writable to others, with sticky bit
      %td ac
      %td negro - verde
    %tr
      %td directory writable to others, without sticky bit
      %td ad
      %td negro - marron