!!! Strict
%html
  %head
    %link{:href => "/css/base.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/accordion.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => FEED_URL, :rel => "alternate", :title => "Llopez", :type => "application/atom+xml" }    
    %meta{'name' => 'description', :content => 'Es un blog personal de programación'}
    %meta{'name' => 'keywords', :content => "#{tags(site)}, blog, BLOG, Blog, Programación, PROGRAMACION, programación, Ruby, ruby, RUBY, Rails, RAILS, rails, jquery, Jquery, JQUERY, BASH, Bash, Gratis, GRATIS, gratuito, free, Free, FREE, Tecnología, TECNOLOGIA, nestor luis lopez"}
    %meta{'name' => 'copyright', :content => 'Luis Lopez'}
    %meta{'name' => 'robots', :content => 'FOLLOW,INDEX'}
    %meta{'name' => 'googlebot', :content => 'FOLLOW,INDEX'}
    %meta{'http-equiv' => "Content-Language", :content=>"es-AR"}
    %meta{:name => "google-site-verification", :content => "f_Tjpx8iAHoa647ibklC-wYpEBKRhu1NkepTP2Cw8tE"}
    
    %title
      Llopez Blog
    %script(src="/js/jquery-1.4.2.min.js")
    %script(src="/js/jquery-ui.min.js")
    %script(src="/js/jquery.twitter.js")
    %script(src="/js/app.js")
    /
      :javascript
        var disqus_developer = 1;    
  %body
    #container
      #header
        .block.logo
          %h1
            %a(href="/" title="ir a inicio")
              >_ Llopez@blog
          .contact-links
            %a.google(href="mailto:luigibyte@gmail.com" title="enviar correo a gmail")
            %a.mail(href="mailto:luigibyte@gmail.com" title="enviar email")      
        #menu.block
          %ul
            .column
              %li
                %a{:href => "/perfil.html"} Perfil
              %li
                %a( href = "http://github.com/llopez" target = "_blank") Repos
            .column    
              %li
                %a(href = "/proyectos.html") Proyectos
              %li
                %a(href = "/galeria.html") Galer&iacute;a
            .column
              %li
                %a{:href => "/"} Sitios amigos
              %li
                %a(href = "/contacto.html") Contacto
        #search-block
          %form(action="http://www.google.com/search" method="get" id="search")
            %input(type="text" name="q" value="ingrese texto")
            %input(type="hidden" name="sitesearch" value="#{DOMAIN_URL}")
          #source-links
            %a.rss{:href => FEED_URL, :title => "Suscribir Rss"}
            %a.github(href="http://github.com/llopez/llopez-blog" title="Github" target="_blank")   
      .clear
      #main
        ~ content
        .clear
      #footer
        .left
          >_  &copy; llopezblog.com.ar - copyright 2010.
        .right
          {mejor_visto_con => [firefox , chrome]}
        .clear

    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17126480-1']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
